.map{
  height: 100vmax;
  width: 100vmax;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10%;
  width: 100vmax;
  height: 100vmax;
  position: relative;
}

.grid-container::after {
  content: "";
  display: block;
  clear: both;
}

.background-image {
  height: 100vmax;
  width: 100vmax;

}

.grid-item {
  width: 25vmax;
  height: 25vmax;
  transform: rotate(45deg);
  border: solid 1px rgb(0, 0, 0);
}

.grid-item:nth-child(8n + 5) {
  margin-left: -70%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 6) {
  margin-left: -70%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 7) {
  margin-left: -70%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 8) {
  margin-left: -70%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 9) {
  margin-left: 0%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 10) {
  margin-left: 0%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 11) {
  margin-left: 0%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 12) {
  margin-left: 0%;
  margin-top: -70%;
}

.grid-item:nth-child(8n + 13) {
  margin-left: -70%;
}

.grid-item:nth-child(8n + 14) {
  margin-left: -70%;
}

.grid-item:nth-child(8n + 15) {
  margin-left: -70%;
}

.grid-item:nth-child(8n + 16) {
  margin-left: -70%;
}