.grid {
  width: 100vmax;
  height: 100vmax;
  margin: 0 auto;
  background: #ccc;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.background-image-grid {
  height: 100vmax;
  width: 100vmax;
}

.grid-item {
  width: 21.833%;
  padding-bottom: 21.833%;
  overflow: hidden;
  float: left;
  border: solid 1px rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: 5.5%;
  margin-top: -11%;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4) {
   margin-top: 5%;
}

.grid-item:nth-child(5n+5) {
  margin-left: 21.9%;
}

.grid-item:nth-child(5n+7) {
  clear:left;
}

.grid-item:nth-child(5n+7):last-of-type {
margin-left: 38.25%;
}

.grid-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.grid-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  text-align: center;
  padding-top: 40%;
  font-size: 2em;
}
